---
import background from '../assets/background.svg';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/">HTML</a> | <a href="/profile">Markdown</a>
			</nav>
		</header>
		<main>
			<div id="container">
				<img id="background" src={background.src} alt="" fetchpriority="high" />
				<slot />
			</div>
		</main>
		<footer>
			<p>© 2025 torikasyu</p>
		</footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}
</style>